# Discord Application Credentials
DISCORD_CLIENT_ID=1489402992393453678
DISCORD_CLIENT_SECRET=U7nXgPiP9CEwpRKW411_-PnhU3Ai06ST
DISCORD_BOT_TOKEN_P1=MTQ4OTQwMjk5MjM5MzQ1MzY3OA
DISCORD_BOT_TOKEN_P2=GmYexe
DISCORD_BOT_TOKEN_P3=wFeaoitsz4oo_l7jpb2KXj0lGfDN_vChyNCyCc

# Developer & Owner Snowflake ID
DEVELOPER_ID=560057266942902273

# Cloudflare Configuration
CLOUDFLARE_API_TOKEN=tOs9zzjjMJJlOWZt5gtcIon1f5wRMMjxC04ryBH2
CF_API_TOKEN=tOs9zzjjMJJlOWZt5gtcIon1f5wRMMjxC04ryBH2
CLOUDFLARE_ACCOUNT_ID=b7a2dbf55f12a13b06c1f7a51dc59059
CLOUDFLARE_ZONE_ID=ece18603c8c28e1cbfa19222167df87f
CLOUDFLARE_DOMAIN=bot.devtushar.uk

# Database & Authentication
JWT_SECRET=c3f5a8b9d2e1467c8a0b9d8e7f6a5b4c3d2e1f0a9b8c7d6e5f4a3b2c1d0e9f8
SMTP_PASS=qorjptxsrsqtyqlj
SMTP_USER=tushar0p.test@gmail.com
# Optional: If running `docker compose up -d`, uncomment or keep these:
MONGODB_URI=mongodb://localhost:27018
REDIS_URI=redis://localhost:6380
# If running standalone without Docker, comment them out to use built-in SQLite & NeDB

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_SEytn3iK24Fb4B
RAZORPAY_KEY_SECRET=tzxS2K9x7W50aTUIvKB4ANrM
RAZORPAY_WEBHOOK_SECRET=mailcord_prod_2026

# Razorpay Plan IDs
RAZORPAY_PREMIUM_PLAN_ID=plan_SeFLzb0otVuh3r
RAZORPAY_SUPREME_PLAN_ID=plan_SeFMiZVQZ7JpSj
RAZORPAY_PRO_PLAN_ID=plan_SeFNAFdrjG9g0z
RAZORPAY_ENTERPRISE_PLAN_ID=plan_SeFNk3IlFW3TS2

PUBLIC_URL=https://mailcord.devtushar.uk
PORT=3006
DATABASE_URL=sqlite://./data/billing.db
